<div class="sidebox-wrapper">
  <h5>Как это работает?</h5>
  <p>
    Создав шаблон вы сможете позже прикреплять его к истории болезни любого пациента, заполнив пропуски и выбрав нужные варианты.
  </p>
</div>