<% title "Редактирование данных о пациенте" %>

<h1 class="special">Редактирование данных о пациенте</h1>

<div class="liner">
  <%= render "form" %>
</div>

<% content_for(:sidebar) { %>
  <div id="reminders" class="sidebox-wrapper">
    <h5>Напоминания</h5>
    <ol>
      <li><%= check_box_tag "birthday", "1", true %> День рождения<li>
    <li><%= check_box_tag "inspection", "1", true %> Профилактические осмотры</li>
    </ol>
  </div>
<% } %>
