<div class="sidebox-wrapper">
  <h5>Как это работает?</h5>
  <p>
    Здесь хранится информация о каждом враче, работающем в клинике.<br />
    Вы легко можете добавить новых или изменить данные о старых врачах, переходя по соответствующим кнопкам.
  </p>
</div>