<div class="sidebox-wrapper">
  <h5>Как это работает?</h5>
  <p>Каталог услуг представляет собой список категорий, каждая из которых может содержать в себе неограниченное количество других <strong>категорий</strong> или же <strong>услуг</strong>.</p>
  <p>К каждой категории можно добавить небольшое <strong>описание</strong>, чтобы в дальнейшем быстро ориентироваться в каталоге и правильно выбирать категорию для новых услуг.</p>
</div>